.layout {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  flex-direction: column;

  &__top {
    display: flex;

    .the-bar {
      width: 100%;
      position: relative;
      box-sizing: border-box;
      z-index: 2;
      display: flex;

      .the-brand {
        margin-left: 10px;
        margin-top: 5px;
      }

      .the-dragbar {
        flex: 1;
        display: flex;
        justify-content: center;
      }

      .the-controls {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  &__bottom {
    .the-bottombar {
      display: flex;
      justify-content: center;
    }
  }

  &__main {
    display: flex;
    flex: 1;
    position: relative;
  }
}

.tab-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }
}
