.layout {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  flex-direction: column;

  &__top {
    display: flex;

    .the-bar {
      width: 100%;
      display: flex;
      justify-content: end;
      box-sizing: border-box;
      z-index: 2;

      .the-dragbar {
        margin-top: 5px;
      }
    }
  }

  &__main {
    display: flex;
    flex: 1;
    position: relative;
  }

  &__left {
    flex: 1 0 72px;
    display: flex;
    height: 100%;
    width: 100%;

    .the-navmenu {
      width: 100%;
      display: flex;
      padding: 0px 0px 8px;
      flex-direction: column;
      align-self: stretch;
      box-sizing: border-box;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      overflow: hidden;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.09);
      z-index: 2;
    }

    .the-logo {
      position: relative;
      margin-top: 20px;
      margin-bottom: 12px;
      flex: 1;
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      box-sizing: border-box;

      img,
      svg {
        pointer-events: none;
      }

      .the-newbtn {
        position: absolute;
        right: 10px;
        top: 15px;
        border-radius: 8px;
        padding: 2px 4px;
        transform: scale(0.8);
      }
    }

    .the-menu {
      flex: 1 1 80%;
      overflow-y: auto;
      margin-bottom: 0px;
      padding-top: 4px;
    }

    .the-down {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
    }

    .the-traffic {
      flex: 0 0 60px;

      > div {
        margin: 0 auto;
        padding: 0px 20px;
      }
    }
  }

  &__right {
    position: relative;
    flex: 1 1 100%;
    height: 100%;

    .the-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 2px;
      bottom: 0px;
    }
  }

  &__fab {
    position: absolute;
    right: 20px;
    bottom: 50px;
  }
}

.linux,
.windows,
.unknown {
  &.layout {
    .layout__top .the-bar {
      height: 24px;
    }
  }
}

.macos {
  &.layout {
    .layout__top .the-bar {
      height: 28px;
    }
  }
}
